*{
    -fx-font-family: Ubuntu, sans-serif;
}

#parent{
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

#header{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #020202;
}

#area{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #eeeeee;
    -fx-border-radius: 10;
}

#field{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #eeeeee;
    -fx-border-radius: 10;
}

#btn{
    -fx-border-color: #eeeeee;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-size: 15;
}

#pane{
    -fx-background-color: #eeeeee;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}